@media (max-width: 500px) {

    #addUserButton button {
        visibility: hidden;
    }

}

@media (min-width: 500px) {

    #addUserButton button {
        visibility: visible;
    }

}


html {
    height: 100%;
    background-color: #17234E;
    width: 100%;
    padding-top: 100px;
}

body {
    height: 100%;
    background-color: #17234E;
    width: 100%;
    padding-top: navbar-height;
}

#indexContainer { /*Main centered container for index*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectListCont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectListJumbo {
    height: 200%;
    width: 100%;
}

#projectListTable {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    table-layout: fixed;
    width: 100%;
    word-break: break-word;
}

tbody {
    font-size: 15px;
}

thead {
    font-size: 20px;
}

.bg-blue { /*Main background color*/
    background-color: #17234E;
}

.bg-offwhite { /*White used for some containers*/
    color: #0C0C0D;
}
