<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jon App 2</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!--  Open Graph Tags  -->
    <meta content="Jon App 2" property="og:title"/>
    <meta content="Revolutionizing employment for those with cognitive disabilities." property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="Jon App 2" property="og:site_name"/>
    <meta content="https://jonapp.nate.to/" property="og:url"/>
    <meta content="https://jonapp.nate.to/img/logo.png" property="og:image"/> <!-- TODO -->

    <!--  CSS  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ngj4yzz.css">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--  Vendor libraries  -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" id="navBrand">JonApp</a>

            <ul class="right">
                <a href="#" data-target="mobile-nav" class="sidenav-trigger show-on-medium-and-up"><i
                            class="material-icons">menu</i></a>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="https://cdn.discordapp.com/attachments/473705436793798676/696918972771074068/Untitled_drawing_3.png">
            </div>
            <a href="#user"><img class="circle"
                                 src="https://www.kindpng.com/picc/m/78-785827_user-profile-avatar-login-account-male-user-icon.png"></a>
            <a href="#name"><span class="white-text name">{{ user_name }}</span></a>
            <a href="#email"><span class="white-text email">{{ user_id }}</span></a>
        </div>
    </li>
    <li><a class="modal-trigger" href="#userModal" id="banner">Display QR Code</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Used for adding users to projects.</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="/">Logout</a></li>
</ul>


<div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="card-panel">
            <div class="valign-wrapper" id="title-wrap">
                <div class="col l4 m4 s4">
                    <a class="btn-floating btn-large waves-effect waves-light hide-on-small-and-down modal-trigger"
                       href="#createModal"><i class="material-icons">add</i></a>
                    <a class="btn-floating btn-small waves-effect waves-light hide-on-med-and-up modal-trigger"
                       href="#createModal"><i class="material-icons">add</i></a>
                </div>
                <div class="col l4 m4 s4 center-align">
                    <span class="table-title">Projects</span>
                </div>
                <div class="col l4 m4 s4"></div>
            </div>

            <div class="row">
                {{ projects_html }}
            </div>
        </div>
    </div>
</div>


<div id="userModal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 m12 l12 center-align">
                <h4>User Information</h4>
                <span class="qr">{{ user_qr }}</span>
                <span class="user-id">{{ user_id }}</span>
            </div>
        </div>
    </div>
</div>

<div id="createModal" class="modal modal-fixed-footer">
    <form method="post" action="/add/project" enctype=multipart/form-data>
        <div class="modal-content">
            <div class="col s12 m6 l6">
                <span class="modal-title">New Project</span>
            </div>
            <div class="row">
                <div class="col s12 l12 m12">
                    <div class="input-field col s12 l12 m12">
                        <input id="name" type="text" name="name" data-length="30">
                        <label for="name">Project Title</label>
                    </div>
                    <div class="input-field col s12 l12 m12">
                        <textarea name="description" id="description" class="materialize-textarea"
                                  data-length="120"></textarea>
                        <label for="description">Project Description</label>
                    </div>
                </div>

                <div class="col s12 l12 m12">
                    <div class="file-field input-field">
                        <input accept="image/*;capture=camera" id="p-create-file" name="image" style="display: none;" type="file"/>
                    </div>

                    <button class="btn btn-success mt-3 mx-auto" onclick="document.getElementById('p-create-file').click();" type="button">
                        Select New Image
                    </button>

                    <img alt="Project Image" class="img-fluid" id="p-create-image" src="">

                    <script>
                        function pCreateImgUpdate() {
                            if (this.files && this.files[0]) {
                                const FR = new FileReader();

                                FR.addEventListener("load", function (e) {
                                    document.getElementById("p-create-image").src = e.target.result; // e.target.result is the b64
                                });

                                FR.readAsDataURL(this.files[0]);
                            } else {
                                alert("Error uploading image.");
                                throw new Error("Error uploading image.");
                            }
                        }

                        document.getElementById("p-create-file").addEventListener("change", pCreateImgUpdate);
                    </script>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light right modal-close" id="submitbutton" type="submit"
                    name="action">Create
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('.modal').modal();
    });

    $(document).ready(function () {
        $('.sidenav').sidenav({edge: 'right'});
    });

    $('.dropdown-trigger').dropdown();
    // $(document).ready(function () {
    //     $('input#proj_name, #proj_desc').characterCounter();
    // });
    //    Commented out by Nate...Testing a thing

</script>


</body>
</html>