<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jon App 2</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!--  Open Graph Tags  -->
    <meta content="Jon App 2" property="og:title"/>
    <meta content="Revolutionizing employment for those with cognitive disabilities." property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="Jon App 2" property="og:site_name"/>
    <meta content="https://jonapp.nate.to/" property="og:url"/>
    <meta content="https://jonapp.nate.to/img/logo.png" property="og:image"/> <!-- TODO -->

    <!--  CSS  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ngj4yzz.css">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--  Vendor libraries  -->
    <script src="/static/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo" id="navBrand">JonApp</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Logout</a></li>
                    <li><a class="modal-trigger" href="#userModal" id="banner">Logged in as {{ user_name }}</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-nav">
        <li><a href="/">Logout</a></li>
        <li><a class="modal-trigger" href="#userModal" id="banner">Logged in as {{ user_name }}</a></li>
    </ul>


    <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3">
            <div class="card-panel">
                <div class="valign-wrapper" id="title-wrap">
                    <div class="col l4 m4 s4">
                        <a class="btn-floating btn-large waves-effect waves-light hide-on-small-and-down modal-trigger" href="#createModal"><i class="material-icons">add</i></a>
                        <a class="btn-floating btn-small waves-effect waves-light hide-on-med-and-up modal-trigger" href="#createModal"><i class="material-icons">add</i></a>
                    </div>
                    <div class="col l4 m4 s4 center-align">
                        <span class="table-title">Projects</span>
                    </div>
                    <div class="col l4 m4 s4"></div>
                </div>

                <div class="row">
                    <div class="col s12 m6 l4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="https://cdn.discordapp.com/attachments/473705436793798676/696918972771074068/Untitled_drawing_3.png">
                                <span class="card-title">Project 1</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">create</i></a>
                            </div>
                            <div class="card-content">
                                <p>This is a sample project card. Here I'll show you the description of each project you create!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="https://cdn.discordapp.com/attachments/473705436793798676/696918972771074068/Untitled_drawing_3.png">
                                <span class="card-title">Project 2</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">create</i></a>
                            </div>
                            <div class="card-content">
                                <p>This is a sample project card. Here I'll show you the description of each project you create!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="https://cdn.discordapp.com/attachments/473705436793798676/696918972771074068/Untitled_drawing_3.png">
                                <span class="card-title">Project 3</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">create</i></a>
                            </div>
                            <div class="card-content">
                                <p>This is a sample project card. Here I'll show you the description of each project you create!</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="userModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <h4>User Information</h4>
                <div class="col s12 m6 l6">
                    <span class="qrcode center-align">{{ user_qr }}</span>
                    <h5 class="left-align">User QR Code</h5>
                </div>

                <div class="col s12 m6 l6" id="userinfo">
                    <h5>Name: {{ user_name }}</h5>
                    <h5>User ID: {{ user_id }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div id="createModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="col s12 m6 l6">
                <span class="modal-title">New Project</span>
            </div>
            <div class="row">
                <div class="col s6 l6 m6">
                    <div class="input-field s6 l3 m3">
                        <input id="proj_name" type="text" data-length="30">
                        <label for="proj_name">Project Title</label>
                    </div>
                    <div class="input-field s6 l3 m3">
                        <textarea id="proj_desc" class="materialize-textarea" data-length="120"></textarea>
                        <label for="proj_desc">Project Description</label>
                    </div>
                </div>
                <div class="col s6 l6 m6">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Project Image</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light right modal-close" type="submit" name="action">Create
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });

        $(document).ready(function(){
            $('.sidenav').sidenav();
        });


        $(document).ready(function() {
            $('input#proj_name, #proj_desc').characterCounter();
        });

    </script>


</body>
</html>