<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jon App 2</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!--  Open Graph Tags  -->
    <meta content="Jon App 2" property="og:title"/>
    <meta content="Revolutionizing employment for those with cognitive disabilities." property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="Jon App 2" property="og:site_name"/>
    <meta content="https://jonapp.nate.to/" property="og:url"/>
    <meta content="https://jonapp.nate.to/img/logo.png" property="og:image"/> <!-- TODO -->

    <!-- Icon Stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">

    <!--  CSS  -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ngj4yzz.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--  Vendor libraries  -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo" id="navBrand">JonApp</a>

            <ul class="right">
                <a href="#" data-target="mobile-nav" class="sidenav-trigger show-on-medium-and-up"><i
                            class="material-icons">menu</i></a>
            </ul>
        </div>
    </nav>
</div>
<div id="login-container">
    <div class="row">
        <div class="col s12 m10 offset-m1 l6 offset-l3">
            <div class="card-panel lightpurple">
                <div class="row">
                    <div class="col s12 m12 l12 center-align">
                        <span class="table-title">Join JonApp</span>
                    </div>
                    <form method="post" action="/signup" id="signupform">
                        <div class="col s12 m12 l12">
                            <input id="email" type="email" class="validate" name="email" required>
                            <label for="email">Email Address</label>
                        </div>
                        <div class="col s12 m12 l12">
                            <input id="password" type="password" class="validate" name="password" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="col s12 m12 l12">
                            <input id="password2" type="password" class="validate" name="password2" required>
                            <label for="password2">Confirm Password</label>
                        </div>
                        <div class="col s12 m12 l12">
                            <button onclick="submit()" class="waves-effect waves-light btn loginbutton right center-align"
                               type="submit">Sign Up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function submit() {
        let password = document.getElementById("password").value;
        let password2 = document.getElementById("password2").value;

        if (password !== password2) {
            alert("Passwords are not the same.");
        } else {
            document.getElementById("signupform").submit();
        }
    }
</script>


</body>
</html>