body {
    background-color: #899BC9;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
}

nav {
    background: #48577D !important;
}

#navBrand {
    padding-left: 1%;
}

#indexContainer { /*Main centered container for index*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logIn {
    padding-bottom: 5%;
    float: left !important;
}

#logOut {
    float: right !important;
}

span.title {
    font-family: open-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16vw;
    padding-top: 1%;
    color: #FFFFFF;
}

span.subtitle {
    font-size: 2vw;
    padding-bottom: 0px;
    color: #FFFFFF;
    font-style: italic;
}

a.btn {
    background: #48577D;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.loginbutton {
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inbut {
    display: block;
    height: inherit;
}

footer {
    background: #899BC9 !important;
}

i {
    padding-left: 0%;
} /* TODO: Make icon padding specific to index page */

#buttonsCont {
    width: 25vw;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding-bottom: 5vh;
}

@media only screen and (max-width: 900px) {
    #buttonsCont {
        width: 45vw;
    }
}

@media only screen and (max-width: 1100px) {
    .loginbutton {
        width: 12vw;
    }
}

.card-panel {
    margin: auto;
    padding: 1.7%;
}

.task {
    margin-bottom: 0%;
}

.full-height {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

.sidenav {
    color: #FFFFFF !important;
}

.lightpurple {
    background: #C7D7FF !important;
}

.table-title {
    font-size: 3.5rem;
}

.modal-title {
    font-size: 2.5rem;
    margin-bottom: 2.5%;
}

.btn-floating {
    margin-top: 2.5%;
    margin-left: 2.5%;
}

#title-wrap {
    margin-bottom: 2%;
}

#userModal {
    width: 25%;
}

.user-id {
    font-size: 1.5vw;
}

.qrcode {
}

.qr {
    margin: auto;
}

#SignUpModal {
    width: 50%;
    overflow: hidden;
}

.padded {
    padding-left: 1.25%;
    padding-right: 1.25%;
}

.buttonicon {
    padding-left: 3%;
}

#login-container {
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.card-image {
    width: 100%;
}

.fit-to {
    width: 100%;
    height: 200px;

    object-fit: cover;
}

.nopad {
    float: right;
}



#p-create-image,
#t-create-image {
    width: 100%;
    height: 500px;
    object-fit: scale-down;
}

#createModal,
#taskModal {
    width: 35%;
}

input:focus + label {
    color: black !important;
}
input:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important
}
input + label {
    color: black !important;
}
input {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important
}

textarea:focus + label {
    color: black !important;
}
textarea + label {
    color: black !important;
}
textarea {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important
}


.task-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-bottom-margin {
    margin-bottom: 0px !important;
}

.default {}

.myPlaceholder {
    border: 0px solid #48577D;
    height: 100%;
    margin: 2%;
}

.task-title {
    font-size: 1.5rem;
}

.modal-title {
    margin-left: 2.5%;
}

@media only screen and (max-width: 1440px) {
    #userModal {
        width: 30%
    }
}

@media only screen and (max-width: 1024px) {
    .table-title {
        font-size: 3.5vw;
    }
    #userModal {
        width: 60%
    }
    .loginbutton {
        width: 15vw;
    }
    #createModal,
    #taskModal {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .table-title {
        font-size: 5vw;
    }
    #userModal {
        width: 70%
    }
    .loginbutton {
        width: 18vw;
    }
    #createModal,
    #taskModal {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .table-title {
        font-size: 7vw;
    }
    #userModal {
        width: 80%
    }
    .loginbutton {
        width: 100%;
        margin-top: 5%;
    }
    .fit-to {
        width: 100%;
        height: 300px;

        object-fit: cover;
    }
}