html, body {
    height: 100%;
    background-color: #17234E;
    width: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

col {
  max-width: 100%;
  min-width: 30%;
}

.jumbotron {
  max-width: 100%;
  min-width: 10%;
}

.bg-blue {
    background-color: #17234E;
}

.bg-offwhite {
    color: #0C0C0D;
}
