<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jon App 2</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!--  Open Graph Tags  -->
    <meta content="Jon App 2" property="og:title"/>
    <meta content="Revolutionizing employment for those with cognitive disabilities." property="og:description"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="Jon App 2" property="og:site_name"/>
    <meta content="https://jonapp.nate.to/" property="og:url"/>
    <meta content="https://jonapp.nate.to/img/logo.png" property="og:image"/> <!-- TODO -->

    <!--  CSS  -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ngj4yzz.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--  Vendor libraries  -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
<div id="page-container">
    <div id="content-wrap">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo" id="navBrand">JonApp</a>
                </div>
            </nav>
        </div>

        <div class="container" id="indexContainer">
            <div class="col-6 mx-auto center-align">
                <span class="title center-align">JonApp</span>
                <br>
                <span class="subtitle center-align">Revolutionizing employment for those with cognitive disabilities</span>
                <br>
                <br>
                <div class="container" id="buttonsCont">
                    <span class= "center-align" id="logIn">
                        <a href="/supervisor/login" class="waves-effect waves-light btn modal-trigger">Log In
                            <i class="material-icons buttonicon">vpn_key</i>
                        </a>
                    </span>
                    <span class="center-align" id="logOut">
                        <a class="waves-effect waves-light btn modal-trigger" href="/signup">Sign Up
                            <i class="material-icons buttonicon">assignment</i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
        <footer class="page-footer" id="footer">
            <div class="container">
                <div class="container center-align">
                    © 2020 Seth Knights and Nate Sales
                </div>
            </div>
        </footer>
</div>

<div id="SignUpModal" class="modal">
    <div class="modal-content">
        <form method="post" action="">
            <div class="row">
                <div class="col s12 m6 l6">
                    <input id="first_name" type="text" class="validate" required>
                    <label for="first_name">First Name</label>
                </div>
                <div class="col s12 m6 l6">
                    <input id="last_name" type="text" class="validate" required>
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="col s12 m12 padded">
                <input id="email" type="email" class="validate" name="email" required>
                <label for="email">Email Address</label>
            </div>
            <div class="col s12 m12 l12 padded">
                <input id="password1" type="password" class="validate" name="password1" required>
                <label for="password1">Password</label>
            </div>
            <div class="col s12 m12 l12 padded">
                <input id="password2" type="password" class="validate" name="password2" required>
                <label for="password2">Confirm Password</label>
            </div>
        <div class="modal-footer">
            <a class="waves-effect waves-green btn-flat" type="submit">Sign Up</a>
        </div>
    </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.modal').modal();
    });

    $(document).ready(function(){
        $('.sidenav').sidenav({ edge: 'right' });
    });
</script>

</body>
</html>